$bg-white: #ffffff;
$bg-light: #F9F9F9;
$bg-yellow: #FBC436;
$bg-orange: #F3940F;
$bg-lgt-orange: #FDD887;
$bg-lgt-pink: #FABA6C;
$bg-dr-red: #B02A38;
$bg-red: #E62D1F;
$bg-grey: #DBDBDB;
$bg-dark-grey: #555555;
$bg-black: black;
$bg-lgt-black: #3D3D3D;
$bg-lgt-grey: #BBBBBB;
$bg-blue: #527CEB;
$bg-green: #00D9A6;
$bg-lgt-green: #96E15F;
$bg-gradient: linear-gradient(90deg, $bg-lgt-orange 0%, $bg-orange 100%);